@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>System monitorujący</h2>
    <p class="lead"> oprogramowanie komputerów w&nbspsieci lokalnej</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"><b>Zaloguj&nbsp</b><span class="glyphicon glyphicon-log-in"></span></a></p>
</div>